@model Traffic.Models.trafficjob

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Traffic Job</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="job_name" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="job_name" class="form-control" />
                        <span asp-validation-for="job_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Journey Option</label>
                    <div class="col-md-10">
                        @Html.DropDownList("JourneyOption", ViewBag.JourneyOption as SelectList, "Select Form", new { @class = "form-control", @onchange="changedOption(this);" })
                        <script language="javascript">
                            var JourneyOption = @Html.Raw(@ViewBag.JourneySelect);
                            function changedOption(e) {
                                var selOption = $("select[name=JourneyOption] option:selected").text();
                                if (JourneyOption[selOption] != null) {
                                    $("input[name=JourneyURL]").val(JourneyOption[selOption].JourneyURL);
                                    $("input[name=form_fields]").val(JourneyOption[selOption].form_fields);
                                }
                                else
                                { 
                                    $("input[name=JourneyURL]").val("");
                                    $("input[name=form_fields]").val("");
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="target_url" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="target_url" class="form-control" />
                        <span asp-validation-for="target_url" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="search_term" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="search_term" class="form-control col-md-8" />
                        <span asp-validation-for="search_term" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="search_engine" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="search_engine" class="form-control" asp-items="Html.GetEnumSelectList<trafficjob.SEARCH_ENGINE>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="search_engine" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="session_count" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="session_count" class="form-control" />
                        <span asp-validation-for="session_count" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Google Form URL</label>
                    <div class="col-md-10">
                        <input name="JourneyURL" class="form-control" value="@ViewBag.JourneyURL" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Form Fields</label>
                    <div class="col-md-10">
                        <input name="form_fields" class="form-control" value="@ViewBag.form_fields" placeholder="Example: Name:Username, Phone:TelephoneNumber, Email:EmailAddress" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-10 col-lg-offset-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Delete" asp-route-id="@Model.id" class="btn btn-danger">Delete</a>
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
